
html {
  height: 100%;
  margin: 0;
  padding: 0;
} 

body  {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400px;
  letter-spacing: 1.4px;
  text-shadow: 4px 2px 4px #000000;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: 'Raleway', sans-serif;*/
}

body.home-background {
  background-image: url(../img/landscape.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

body.partly-cloudy {
  background-image: url(../img/partlycloudy.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

body.clear {
  background-image: url(../img/clear-sky.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

body.cloudy {
  background-image: url(../img/cloudy.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

body.cloudy .weather {
  color: #080808;
  text-shadow: 4px 2px 4px #eee;
}

body.t-storms {
  background-image: url(../img/lightning-bolt.jpg);
  background-repeat: no-repeat;
  background-position: left center;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

body.snow {
  /*background-image: url(../img/snowRed.jpg);*/
  background-image: url(../img/snow-range.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

body.rain {
  background-image: url(../img/rainy.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

body.night {
  background-image: url(../img/night.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

body.night .weather {
  color: #E7EC31;
  text-shadow: 4px 2px 4px #CA3030;
}

h1 {
  margin-top: 75px;
  font-family: 'Kalam', cursive;
  color: #ffffff;
  font-size: 60px;
  font-weight: 700;
  text-shadow: 4px 2px 4px #000000;
}

p {
  font-size: 18px;
}

.greeting {
  margin-top: 30px;
}

.greeting h2 {
  color: #F7F7F7;
  text-shadow: 2px 2px 4px #000000;
}

.location-prompt {
  display: none;
  margin-top: 40px;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
}

#today {
  margin-top: 50px;
}

.weather-gif {
  margin: 50px auto;
}

#location {
  margin-top: 50px;
  margin-bottom: 10px;
  display: none;
}

/*#home-gif {
  margin-top: 50px;
}*/

.opening-gif {
  display: none;
/*  margin-top: 50px;*/
}

.shown-gif {
  display: block;
/*  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;*/
  margin: 75px auto 25px;
}

.weather-comment {
  color: #ffffff;
}

.weather {
  color: #ffffff;
}

#currently {
  font-size: 28px;
}

#feels-like, #sunrise, #location-full, #currently, #forecasted-high,
  #forecasted-low, #sunrise, #sunset, #humidity, #precip, #uv-index {
  display: inline-block;
}

#humidity, #sunset {
  display: inline-block;
  margin-left: 20px;
}

#zip {
  display: inline-block;
  margin-left: 5px;
  font-size: 16px;
}

#currently, #combined-forecast  {
  margin-left: 5px;
}

#precip, #uv-index {
  margin-left: 12px;
}

#weather-stats {
  padding-bottom: 50px;
}

#footer {
  display: none;
}

#credit {
  display: inline-block;
}

#wu-logo {
  float: left;
  /*margin-right: 15px;*/
}

#giphy-logo {
/*  margin-top: 8px;*/
  padding-left: 15px;
}

@media (max-width: 768px) {
  #wu-logo, #giphy-logo {
    max-width: 20%;
  }
}
@media (max-width: 400px) {
  #wu-logo, #giphy-logo {
    max-width: 30%;
  }
  h2 {
    font-size: 26px;
  }
}


